body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

div img{
    width: 100%;
    height: 75%;
}

.half-width{
    width: 50%;
    margin-left: 100px;
    font-size: 25px;

}

span{
    color: orange;
}
.link-btn{
    text-decoration: none;
    padding: 15px;
    background-image: linear-gradient(yellow,tomato);
}